@font-face {
  font-family: 'iconfont';
  /* Project id 3805820 */
  src: url('//at.alicdn.com/t/c/font_3805820_9eq15f61d8p.woff2?t=1669985816945') format('woff2'), url('//at.alicdn.com/t/c/font_3805820_9eq15f61d8p.woff?t=1669985816945') format('woff'), url('//at.alicdn.com/t/c/font_3805820_9eq15f61d8p.ttf?t=1669985816945') format('truetype');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-gengduo:before {
  content: '\e601';
}
.icon-dianzan:before {
  content: '\e602';
}
.icon-pinglun:before {
  content: '\e603';
}
.icon-fenxiang:before {
  content: '\e604';
}
.icon-shanchu:before {
  content: '\e605';
}
.icon-lishi:before {
  content: '\e606';
}
.icon-shipin:before {
  content: '\e607';
}
.icon-guanbi:before {
  content: '\e608';
}
.icon-shouye:before {
  content: '\e609';
}
.icon-yanzhengma:before {
  content: '\e60a';
}
.icon-wode:before {
  content: '\e60b';
}
.icon-zuojiantou:before {
  content: '\e60c';
}
.icon-shoucang:before {
  content: '\e60d';
}
.icon-sousuo:before {
  content: '\e60e';
}
.icon-wuwangluo:before {
  content: '\e60f';
}
.icon-youjiantou:before {
  content: '\e610';
}
.icon-wenda:before {
  content: '\e611';
}
.icon-zuopin:before {
  content: '\e612';
}
.icon-yuedu:before {
  content: '\e613';
}
.icon-shouji:before {
  content: '\e614';
}
.icon-dianzan1:before {
  content: '\e615';
}
